@model List<ProjetoAspNetMVC.Repository.Entities.Tarefa>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Seja bem vindo ao projeto!</h5>

<p>
    Sistema desenvolvido em AspNet5 MVC com Dapper e SqlServer.
</p>


<img src="https://blog.trinks.com/wp-content/uploads/2019/12/Capa-Blog-Vantagens-de-usar-agenda-online-no-sal%C3%A3o.png" />